html, body {
  height: 100%;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-size-adjust: none;
}

.navbar-brand {
  font-weight: bold;
  color: white !important;
}

#wrapper {
  min-height: 100%;
  padding-top: 60px;
  position: relative;
}

#content {
  padding-bottom: 60px; /* footer#footer height */
  margin-top: 10px;
}

.row.center {
  display: flex;
  align-items: center;
}

.right-text {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
}

.indent {
  padding-left: 30px;
}

footer#footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  opacity: 0.7;
  font-size: 12px;
}

h5 {
  font-weight: bold;
}

.glyphicon {
  margin-right: 2px;
}

.glyph-none {
  font-size: 24px;
  line-height: 32px;
  color: black;
  margin-right: 5px;
}

.glyph-good {
  font-size: 24px;
  line-height: 32px;
  color: green;
  margin-right: 5px;
}

.glyph-bad {
  font-size: 24px;
  line-height: 32px;
  color: red;
  margin-right: 5px;
}

.panel-heading, .panel-heading:active {
  cursor: pointer;
  font-weight: bold;
}

.panel-heading:before {
   font-family: 'Glyphicons Halflings';
   content: "\e113";
   float: right;
   transition: all 0.5s;
}

.panel-heading.active:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
} 

.toggle {
  zoom: 0.65;
  display: inline-block;
  vertical-align: middle;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #ddd;
  border-radius: 60px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  content: "";
}

input.cmn-toggle-round + label:before {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #ddd;
  border-radius: 60px;
  transition: background 0.4s;
}

input.cmn-toggle-round.toggle-always + label:before {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #5cb85c;
  border-radius: 60px;
  transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #fff;
  border-radius: 100%;
  transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
  background-color: #5cb85c;
}

input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}
